<div class="side-bar-fixed">
  <div id="logo">
    <img src="assets/images/logo-side.png" />
  </div>
  <nav>
    <ul>
      <li>
        <div id="btn-sidebar-container" routerLink="eur-conversion">
          <div class="icon"><i class="material-icons">euro_symbol</i></div>
          <div class="text">EUR conversion</div>
        </div>
      </li>
      <li>
        <div id="btn-sidebar-container" routerLink="view-projects">
          <div class="icon"><i class="material-icons">folder_shared</i></div>
          <div class="text">View projects</div>
        </div>
      </li>
      <li>
        <div id="btn-sidebar-container" routerLink="view-resources">
          <div class="icon"><i class="material-icons">people</i></div>
          <div class="text">View resources</div>
        </div>
      </li>
      <li>
        <div id="btn-sidebar-container" routerLink="utilities">
          <div class="icon"><i class="material-icons">build</i></div>
          <div class="text">Utilities</div>
        </div>
      </li>
    </ul>
  </nav>
</div>